<div>
<!-- <form ng-submit="submitNewVehicleData()"  ng-init="newVehicleDetails"> -->
  <table class="table table-condensed" style="width: 100%" ng-init="newVehicleDetails">
    <tr>
      <td>Vehicle Number</td>
      <td>
        <input type="text" class="form-control pull-left" ng-value="vehicleNumber" ng-model="newVehicleDetails.vehicle_number" capitalize no-spaces="newVehicleDetails.vehicle_number"
        style="width:250px"/>
        <button type="button" class="btn btn-default btn-sm pull-right"  ng-click="vahanVerify()">Verify</button>
      </td>
    </tr>
    <tr>
      <td> YOM</td>
      <td>
        <input type="text" class="form-control"  ng-model="newVehicleDetails.yom" />
      </td>
    </tr>
    <tr>
      <td> Chassis Number</td>
      <td>
        <input type="text" class="form-control" ng-model="newVehicleDetails.chassis_number" />
      </td>
    </tr>
    <tr>
      <td> Engine Number</td>
      <td>
        <input type="text" class="form-control" ng-model="newVehicleDetails.engine_number" />
      </td>
    </tr>
    <tr>
      <td> Vin Plate Number</td>
      <td>
        <input type="text" class="form-control" ng-value="vehicleVin" ng-model="newVehicleDetails.vin_plate_number" />
      </td>
    </tr>
    <tr>
      <td> Type</td>
      <td>
        <select class="form-control" ng-model="newVehicleDetails.type" ng-required="true">
          <option ng-repeat="item in vehicleTypes" value="{{item.id}}" >{{item.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Make</td>
      <td>
        <select class="form-control" ng-change="setSelectedMakeModels()" ng-model="newVehicleDetails.make" ng-required="true">
          <option ng-repeat="item in vehicleMakeModelsUniq | orderBy:'make'" value="{{item.make}}" >{{item.make}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Model</td>
      <td>
        <select class="form-control" ng-model="newVehicleDetails.makeModel" ng-required="true">
          <option ng-repeat="item in vehicleMakeSelectedModels | orderBy:'model'" value="{{item.id}}" >{{item.model}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Fuel Type</td>
      <td>
        <select class="form-control" ng-model="newVehicleDetails.vehicle_fuel_type" ng-required="true">
          <option ng-repeat="item in vehicleFuelTypes" value="{{item.id}}" >{{item.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td> Color</td>
      <td>
        <input type="text" class="form-control" ng-value="caseDetails.vehicleColor" ng-model="newVehicleDetails.color" />
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <!-- <button type="submit" class="btn btn-primary pull-right" ng-disabled="vahanVerified" title="{{verifyVahanMessage}}">Submit</button> -->
        <button ng-click="submitNewVehicleData()" class="btn btn-primary pull-right" ng-disabled="vahanVerified" title="{{verifyVahanMessage}}">Submit</button>
      </td>
    </tr>
  </table>
<!-- </form> -->
</div>
