<!-- Page Sidebar -->
<div class="page-sidebar">

    <!-- Site header  -->
    <header class="site-header">
        <div class="site-logo"><a href="index.html"><img src="images/logo.png" alt="Mouldifi" title="Mouldifi"></a></div>
        <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
        <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
    </header>
    <!-- /site header -->

    <!-- Main navigation -->
    <ul id="side-nav" class="main-menu navbar-collapse collapse">
        <li class="active "><a href="index.html"><i class="icon-gauge"></i><span class="title">Dashboard</span></a>
        </li>
        <li class=""><a href="create-case.html"><i class="icon-window"></i><span class="title">Create Case</span></a></li>
        <li class=""><a href="create-case.html"><i class="icon-newspaper"></i><span class="title">Case Requests</span></a></li>
        <li class=""><a href="scheduled-cases.html"><i class="icon-location"></i><span class="title">Scheduled Cases</span></a></li>
        <li class=""><a href="cases.html"><i class="icon-doc-text"></i><span class="title">Completed Cases</span></a></li>
        <li class=""><a href="cases.html"><i class="icon-doc-text"></i><span class="title">QC Review</span></a></li>
        <li class=""><a href="cases.html"><i class="icon-doc-text"></i><span class="title">Manage Insurance Companies</span></a></li>
        <li class=""><a href="cases.html"><i class="icon-doc-text"></i><span class="title">Manage Insurance Agents</span></a></li>
        <li class=""><a href="cases.html"><i class="icon-doc-text"></i><span class="title">Search Cases</span></a></li>
    </ul>
    <!-- /main navigation -->		
</div>
<!-- /page sidebar -->