<div class="col-lg-12">
  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">Address Pending</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div ng-cloak style="padding-left:15px;padding-top:15px;padding-bottom:5px;">
            <md-input-container class="md-block">
              <label>Search Cases</label>
              <input ng-model="filter.case">
            </md-input-container>
          </div>
        </div>
      </div>
      <table ng-table="tableParams" class="table table-striped table-bordered table-hover">
        <tr ng-repeat="case in addressCases | filter: filter.case track by $index">
          <td data-title="'Case ID'"> {{case.id}}</td>
          <td data-title="'Vehicle Number'"><i class="fa fa-bus" aria-hidden="true"></i> {{case.vehicleNumber}}</td>
          <td data-title="'Customer Name'"> {{case.customerName}}</td>
          <td data-title="'Customer Phone Number'"><a href="tel:{{case.customerPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{case.customerPhoneNumber}}</a></td>
          <td data-title="'Agent Phone Number'"><a href="tel:{{case.requestorPhoneNumber}}"><i class="fa fa-phone" aria-hidden="true"></i> {{case.requestorPhoneNumber}}</a></td>
          <td data-title="'Creation Time'" class="{{case.flagStatus}}"> {{case.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td data-title="'Edit'" ng-click="editCase(case.id, $index)">
            <span class="glyphicon glyphicon-pencil btn btn-xs"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="modal-address-pending" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Address Pending</h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed" style="width: 100%">
            <tr>
              <th>Case ID</th>
              <th>{{currentCase.id}}</th>
            </tr>
            <tr>
              <td>Customer Phone Number:</td>
              <td>
                <input class="form-control pull-left"
                  ng-cloak
                  ng-model="newCaseDetails.customerPhoneNumber"
                  style="width:250px"
                  ng-value="currentCase.customerPhoneNumber"
                >
              </td>
            </tr>
            <tr>
              <td>Agent Phone Number:</td>
              <td>
                <input class="form-control pull-left"
                  ng-cloak
                  ng-model="newCaseDetails.requestorPhoneNumber"
                  style="width:250px"
                  ng-value="currentCase.requestorPhoneNumber"
                >
              </td>
            </tr>
            <tr>
              <td>Vehicle Number:</td>
              <td>
                <input class="form-control pull-left"
                  ng-cloak
                  ng-model="newCaseDetails.vehicleNumber"
                  style="width:250px"
                  ng-value="currentCase.vehicleNumber"
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button ng-cloak ng-click="updateCaseDetails()" class="btn btn-primary pull-right" >Update Case Details</button>
              </td>
            </tr>
          </table>

          <div layout="row">
            <div flex="100">
              <input id="address-map-input" class="form-control" placeholder="Customer Address">
            </div>
          </div>
          <div layout="row">
            <div flex="100">
                <div id="address-map" style="margin-top:5px" class="create-case-map"></div>
            </div>
          </div>

          <div layout="row">
            <div flex>
              <md-button class="md-raised md-primary pull-right" ng-click="submitAddress()">Submit</md-button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
