<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">All Customers</h3>
	</div>
	<div class="panel-body">

		<ul class="list-group" ng-if="agentList.length==0">
			<li class="list-group-item">No Customer Present.</li>
		</ul>
		<form name="allcases_search_form" ng-submit="getCustomerDetails()">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<input type="tel" ng-model="getCustomerDetailsModel.contact"
							class="form-control" id="exampleInputPhonenumber"
							pattern="^\d{10}$" aria-describedby="telHelp"
							placeholder="PHONE NUMBER"> <i
							class="glyphicon glyphicon-user form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<input type="email" ng-model="getCustomerDetailsModel.emailId"
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp" placeholder="Enter email"> <i
							class="glyphicon glyphicon-envelope form-control-feedback"></i>
					</div>
				</div>
				<div class="col-md-3">
					<div>
						<button class="btn btn-primary" type="submit">SEARCH</button>

					</div>
				</div>
			</div>
		</form>
		<div class="" ng-if="customerList.length>0">
			<div class="row">
				<div class="col-md-12">
					<div ng-cloak>
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Contact</th>
									<th>Email</th>
									<th>Case Count</th>
									<th>Action</th>

									<!-- <th> Branch ID <b>|</b> Branch <b>|</b> Division</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="customer in customerList ">
									<td>{{$index + 1}}</td>
									<td>{{customer.firstName}}</td>
									<td>{{customer.lastName}}</td>
									<td>{{customer.phoneNumber}}</td>
									<td>{{customer.email}}</td>
									<td>{{customer.caseCount}}</td>
									<td>
										<button id="delete" ng-click="deleteCustomer(customer.phoneNumber)">DELETE
										</button>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!-- <div id="agent-actions" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Update Customer details</h4>
          </div>
          <div class="modal-body" style="padding: 0px;">
          </div>
        </div>
      </div>
    </div> -->


</div>
