<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<md-content> <md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="All Cases"> <md-content class="md-padding">
			<!-- form to get results -->
			<form name="allcases_search_form" ng-submit="getCaseDetails()">
				<div class="row">
					<div class="col-md-2">
						<div class="form-group has-feedback">
							<input type="text" class="form-control" placeholder="Case ID"
								ng-model="getCaseDetailsModel.case_id" /> <i
								class="glyphicon glyphicon-user form-control-feedback"></i>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group has-feedback">
							<input type="text" class="form-control" placeholder="Vehicle ID"
								ng-model="getCaseDetailsModel.vehicle_id" /> <i
								class="glyphicon glyphicon-bed form-control-feedback"></i>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group has-feedback">
							<input type="text" class="form-control"
								placeholder="Customer Phone"
								ng-model="getCaseDetailsModel.customer_phone" /> <i
								class="glyphicon glyphicon-earphone form-control-feedback"></i>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group has-feedback">
							<input type="text" class="form-control"
								placeholder="Reuester Phone"
								ng-model="getCaseDetailsModel.requester_phone"
								name="vehicle_number" /> <i
								class="glyphicon glyphicon-earphone form-control-feedback"></i>
						</div>
					</div>
					<div class="col-md-3">
						<div>
							<button class="btn btn-primary" type="submit">Search</button>
						</div>
					</div>
				</div>
			</form>
			<!-- End of form -->
			<table ng-table="allCasesTable"
				class="table table-striped table-bordered table-hover">
				<tr ng-repeat="case in data">
					<td data-title="'Case ID'">{{case.id}}</td>
					<td data-title="'Inspection By'">
						<p ng-switch on="case.inspectionType">
							<span ng-switch-when="ASSIGN_TO_CUSTOMER"> Customer </span> <span
								ng-switch-when="SELF_INSPECT"> Agent </span>
						</p>
					</td>
					<td data-title="'Vehicle'"><a ng-show="case.currentStage==4"
						href="#/qc-check/{{case.id}}"> {{case.vehicleNumber}} </a><i
						ng-show="case.currentStage!=4" aria-hidden="true">{{case.vehicleNumber}}</i></td>
					<td data-title="'Cust Phone'"><a
						href="tel:{{case.customerPhoneNumber}}"> <!-- <i
							class="fa fa-phone" aria-hidden="true"></i> -->
							{{case.customerPhoneNumber}}
					</a></td>

					<td data-title="'Agent Phone'"><a
						href="tel:{{case.requestorPhoneNumber}}"> <!-- <i
							class="fa fa-phone" aria-hidden="true"></i> -->
							{{case.requestorPhoneNumber}}
					</a></td>
					<td data-title="'Stage'">
						<p ng-switch on="case.currentStage">
							<span ng-switch-when="-1"> <span
								class="label label-danger">Closed</span>
							</span> <span ng-switch-when="3"> <span
								class="label label-warning">Scheduled</span>
							</span> <span ng-switch-when="4"> <span
								class="label label-primary">QC Review</span>
							</span> <span ng-switch-when="5"> <span
								class="label label-success">Completed</span>
							</span>
						</p>
					</td>
					<td data-title="'Inspection Time'">{{case.inspectionTime |
						date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td data-title="'Remark'"><b>{{case.remark!=null?case.remark:'NA'}}</b></td>
					<td data-title="'Company'"><b>{{case.insuranceCompanyName}}</b></td>
					<td data-title="'Branch'"><b>{{case.branch}}</b></td>
					<td data-title="'Actions'" style="min-width: 120px;">
						<!-- If case has been completed(QC is submitted -->
						<button
							ng-show="case.currentStage==5 && case.insuranceCompanyName=='Policybachat' "
							title='Update status' class="btn btn-xs btn-warning"
							ng-click="updateCaseStatus(case)">
							<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
						</button>
						<button
							ng-show="case.currentStage==5 && case.insuranceCompanyName=='IFFCO Tokio General Insurance Co. Ltd.' && case.branch=='Registered Office' && case.remark=='underwriter' && (userProfile.authority.authority === 'ROLE_ADMIN' || userProfile.authority.authority === 'ROLE_COMPANY_USER')"
							"
							title='Update status' class="btn btn-xs btn-warning"
							ng-click="updateCaseStatus(case)">
							<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
						</button>
						<button
							ng-show="(case.currentStage==5 || case.currentStage==-1) && userProfile.authority.authority === 'ROLE_ADMIN' && case.requestorPhoneNumber!= '8448986330'"
							title='Reopen Case for QC' class="btn btn-xs btn-warning"
							ng-click="reopenCaseForQC(case)">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</button> <a ng-show="case.currentStage==5" title='Download Report'
						href="util/cases/download-report/?case_id={{case.id}}"
						target='_blank' style="display: inline-block;"><button
								class="btn btn-xs btn-primary  glyphicon glyphicon-file"></button></a>
						<a ng-show="case.currentStage==5" title="Download uploaded zip"
						class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-photos/{{case.downloadKey}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<button ng-show="case.currentStage==5" title="Mail reports"
							class="btn btn-xs btn-info" ng-click="sendReport(case.id)">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</button> <a ng-show="case.currentStage==5" title="View images"
						class="btn btn-xs btn-info"
						href="preview-images/{{case.downloadKey}}" target="_blank">P</a> <!-- If case has been completed(QC is submitted -->

						<span><i ng-show="case.currentStage==3" title='Edit Case'
							aria-hidden="true" class="glyphicon glyphicon-pencil btn btn-xs"
							ng-click="editCase(case.id)"></i></span> <span><i
							ng-show="case.currentStage==3 && (userProfile.authority.authority === 'ROLE_ADMIN' || userProfile.authority.authority === 'ROLE_QC' )"
							class="fa fa-reply" aria-hidden="true"
							ng-click='moveToQC(case.id)' title='Move to QC'></i></span><span>
							<i ng-show="case.currentStage==3" class="btn btn-xs btn-info"
							aria-hidden="true" ng-click='getOTP(case.customerPhoneNumber)'
							title='GET CUSTOMER OTP'>OTP</i> <i class="fa fa-weixin"
							aria-hidden="true"
							ng-show="case.inspectionType=='ASSIGN_TO_CUSTOMER'"
							ng-click='sendCaseCreatedSMS(case.id)' title='Send SMS'></i>
					</span>
						<button
							ng-show="case.currentStage==3 && (userProfile.authority.authority === 'ROLE_ADMIN' || userProfile.authority.authority === 'ROLE_QC' )"
							title="Manual QC" class="btn btn-xs btn-info"
							ng-click="uploadInspectionFileModel(case)">
							<i class="fa fa-cloud-upload" aria-hidden="true"></i>
						</button> <span><i ng-show="case.currentStage==4"> <i
								title="{{case.comment}}" ng-if="case.remark=='recommended'"
								class="glyphicon glyphicon glyphicon-ok-sign set-green"></i> <i
								title="{{case.comment}}" ng-if="case.remark=='not-recommended'"
								class="glyphicon glyphicon glyphicon-remove-sign set-red"></i> <i
								title="{{case.comment}}" ng-if="case.remark=='hold'"
								class="glyphicon glyphicon glyphicon-minus-sign set-yellow"></i>
								<i title="{{case.comment}}" ng-if="case.remark=='underwriter'"
								class="glyphicon glyphicon glyphicon-info-sign set-orange"></i>
								<span title="{{case.comment}}" ng-if="case.remark==null">n/a</span>
						</i></span>
                                                
                                                <span ng-show="case.currentStage==5 && (case.requestorPhoneNumber== '8448986330' || userProfile.email='ruchi@iffcotokio.co.in') " >
                                                    <span class="fa fa-refresh" ng-click="submitReportToIffco(case.id)"></span>
                                                </span>
					</td>
					<td data-title="'Comments'" ng-click="showComments(case)">
						{{case.countComments}}</td>
					<td data-title="'AGENT'"
						ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2FMadam%2C%0A%0AYour%20inspection%20request%20for%20vehicle%3A%20';is='%20is%20';terminal1='.%20%0A%0APlease%20download%20the%20Inspection%20report%20here%3A%20';terminal2='%20The%20report%20is%20sent%20to%20your%20mail%20and%20can%20be%20downloaded%20from%20Case%20History%20Tab%20on%20mobile%20APP.%0A%0AThank%20you%20for%20using%20WIMWIsure.%0A%0APlease%20rate%20us%205%2A%20on%20Playstore%3A%20http%3A%2F%2Fbit.ly%2FIFFCO';">
						<a ng-show="case.currentStage==5"
						ng-href="{{link+case.requestorPhoneNumber+message+case.vehicleNumber+is+case.remark+terminal1+'https://iffco.wimwisure.com/util/cases/download-report/?case_id%3D'+case.id+terminal2}}"
						target="_blank">Send Message</a>
					</td>


					<td data-title="'CUSTOMER'"
						ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2FMadam%2C%0A%0AYour%20inspection%20request%20for%20vehicle%3A%20';terminal='%20is%20completed%20and%20submitted%20to%20the%20insurance%20company.%0A%0AThank%20you%20for%20using%20WIMWIsure.%0A%0APlease%20rate%20us%205%2A%20on%20Playstore%3A%20bit.ly%2FIFFCOcust';">
						<a ng-show="case.currentStage==5"
						ng-href="{{link+case.customerPhoneNumber+message+case.vehicleNumber+terminal}}"
						target="_blank">Send Message</a>
					</td>

				</tr>
			</table>

			</md-content> </md-tab> </md-tabs> </md-content>
		</div>
	</div>
</div>


<div id="manual-qc-container" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Reopen Case for QC</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>


<div id="manual-qc-container3" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Comments</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>

<div id="manual-qc-container2" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Upload file for manual QC</h4>
			</div>
			<div class="modal-body" style="padding: 20px;">
				<form ng-submit="uploadFileManually()">
					<table class="table table-striped">
						<tr>
							<td><input type="file" accept=".zip" class="form-control"
								required="true" id="manualUploadFile" name="manualUploadFile" />
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-primary" type="submit">Upload
									Zip File</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>


<div id="reopen-case-container" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Reopen Case for Inspection</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>

<div id="update-case-container" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Update case status: {{currentCase.id}}</h4>
			</div>
			<div class="modal-body" style="padding: 20px;">
				<table class="table">
					<tr>
						<td><b>Recommendation</b></td>
						<td><select ng-model="recommendation" class="form-control">
								<option value="" disabled selected>Please select an
									option</option>
								<option ng-repeat="option in recommendations"
									value="{{option.id}}"
									ng-selected="recommendation === option.id">{{option.value}}</option>
						</select></td>
						<td><input type="text" class="form-control"
							ng-model="remarks" placeholder="Remarks" /></td>
						<td style="width: 1px;"><button class="btn btn-success"
								ng-click="submitReport()">Update</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="modal-n" class="modal fade" tabindex="-1" role="dialog"
	style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Active OTP's</h4>
			</div>
			<table ng-table="tableParams"
				class="table table-condensed table-striped">
				<tr ng-repeat="otp in otps">
					<td data-title="'OTP'" style="text-align: center">{{otp.otp}}</td>
					<td data-title="'TYPE'" style="text-align: center">{{otp.otpType}}</td>
					<td data-title="'GROUP'" style="text-align: center">{{otp.otpGroup}}</td>
					<td data-title="'EXPIRY'" style="text-align: center">{{otp.expiryTime
						| date:'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div id="modal-2" class="modal fade" tabindex="-1" role="dialog"
	style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Edit Case</h4>
			</div>
			<div class="modal-body">
				<table class="table table-condensed" style="width: 100%">
					<tr>
						<th>Case ID</th>
						<th>{{currentCase.id}}</th>
					</tr>
					<tr>
						<td>Customer Phone Number:</td>
						<td><input class="form-control pull-left" ng-cloak
							ng-model="newCaseData.newCustomerPhoneNumber"
							style="width: 250px"
							ng-value="newCaseData.newCustomerPhoneNumber"> <!-- <button ng-cloak ng-click="updateCustomerPhoneNumber()" class="btn btn-primary pull-right" >Update</button> -->
						</td>
					</tr>
					<tr>
						<td>Agent Phone Number:</td>
						<td><input class="form-control pull-left" ng-cloak
							ng-model="newCaseData.newRequestorPhoneNumber"
							style="width: 250px"
							ng-value="newCaseData.newRequestorPhoneNumber"> <!-- <button ng-cloak ng-click="updateRequestorPhoneNumber()" class="btn btn-primary pull-right" >Update</button> -->
						</td>
					</tr>
					<tr ng-show="userProfile.authority.authority === 'ROLE_ADMIN'">
						<td>Vehicle Number:</td>
						<td><input class="form-control pull-left" ng-cloak
							ng-model="newCaseData.newVehicleNumber" style="width: 250px"
							ng-value="newCaseData.newVehicleNumber"> <!-- <button ng-cloak ng-click="updateVehicleNumber()" class="btn btn-primary pull-right" >Update</button> -->
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button ng-cloak ng-click="updateCaseDetails()"
								class="btn btn-primary pull-right">Update Case Details</button>
						</td>
					</tr>
				</table>

				<reschedule-case inspection-case="currentCase"
					fetch-scheduled-cases="fetchScheduledCases()"
					callback="rescheduleCaseCallback()" ng-show="userProfile.authority.authority === 'ROLE_ADMIN'"></reschedule-case>

				<close-case inspection-case="currentCase"
					callback="closeCaseCallback()" ng-show="userProfile.authority.authority === 'ROLE_ADMIN'"></close-case>

				<table class="table table-condensed" ng-show="userProfile.authority.authority === 'ROLE_ADMIN'">
					<tr>
						<th colspan="2" class="alert alert-danger">Cancel Case</th>
					</tr>
					<tr>
						<td>Cancellation Reasons:</td>
						<td><select class="form-control"
							ng-model="currentCase.cancelReason" ng-required="true">
								<option value="" disabled>Cancellation reasons</option>
								<option ng-repeat="item in cancelReasons" value="{{item.id}}"
									ng-selected="item.id === currentCase.cancelReason">{{item.id}}</option>
						</select></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right">
							<button type="button" ng-click="cancelCase()"
								class="btn btn-danger">Cancel Case</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="move-to-qc" class="modal fade" tabindex="-1" role="dialog"
	style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" style="padding: 20px;">
				<table class='table table-striped'>
					<tr>
						<td>Select vehicle type:</td>
						<td><select class='form-control'
							ng-model='selectedCaseForQCVehicleType'
							ng-init="selectedCaseForQCVehicleType='2-wheeler'">
								<option value='' disabled>Select an option</option>
								<option ng-repeat='item in vehicleTypes' value='{{item.id}}'
									ng-selected='selectedCaseForQCVehicleType === item.id'>{{item.name}}</option>
						</select></td>

					</tr>
					<tr>
						<td colspan='2'>
							<button class='btn btn-success' ng-click="moveToQCSubmit()">Move
								to QC</button>
						</td>
					</tr>
					<tr>

					</tr>
				</table>
			</div>
		</div>
	</div>
</div>