<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Create Agent</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-12">
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-12">
								<md-input-container style="width:240px"> <label>Company</label>
								<md-select ng-model="branchFilter.company"
									ng-change="setStateOptions()"> <md-option
									ng-repeat="company in companyData | orderBy:'toString()'"
									ng-value="company.name"
									ng-selected="company.name==defaultCompany?true:false">
								{{company.name}} </md-option> </md-select> </md-input-container>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-12">
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-12">
								<md-input-container style="width:240px"> <label>State</label>
								<md-select ng-model="branchFilter.state"
									ng-change="setDivisionOptions()"> <md-option
									ng-repeat="state in branchFilterData.states | orderBy:'toString()'"
									ng-value="state"> {{state}} </md-option> </md-select> </md-input-container>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-12">
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-12">
								<md-input-container style="width:240px"> <label>Division</label>
								<md-select ng-model="branchFilter.division"
									ng-change="setBranchOptions()"> <md-option
									ng-repeat="division in branchFilterData.divisions | orderBy:'toString()'"
									ng-value="division"> {{division}} </md-option> </md-select> </md-input-container>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-12">
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-12">
								<md-input-container style="width:240px;"> <label>Branch</label>
								<md-select ng-model="branchFilter.branch"
									ng-change="setBranchID()"> <md-option
									ng-repeat="branch in branchFilterData.branches | orderBy:'toString()'"
									ng-value="branch.id"> {{branch.branch}} </md-option> </md-select> </md-input-container>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<form ng-submit="createAgent()">
					<div class="form-group has-feedback">
						<input type="text" class="form-control " ng-disabled="true"
							placeholder="Please select the Branch first"
							ng-model="newAgent.company_branch_division_id" ng-required="true" />
						<i ng-if="!verifyAgentContactActive"
							class="glyphicon glyphicon-tag form-control-feedback"></i>
					</div>
					<div class="form-group has-feedback">
						<input onlylettersinput type="text" class="form-control" placeholder="First Name"
							ng-model="newAgent.first_name" ng-required="true" />
					</div>
					<div class="form-group has-feedback">
						<input onlylettersinput type="text" class="form-control" placeholder="Last Name"
							ng-model="newAgent.last_name" ng-required="true" />
					</div>
					<div class="form-group has-feedback">
						<input type="text" class="form-control" placeholder="Agent Code"
							ng-model="newAgent.agent_code" ng-required="true" />
					</div>
					<div class="form-group has-feedback">
						<input type="number" class="form-control" placeholder="Phone Number"
							ng-model="newAgent.phone_number" ng-required="true" />
					</div>
					<div class="form-group has-feedback">
						<input type="text" class="form-control" placeholder="Email"
							ng-model="newAgent.email_id" ng-required="true" />
					</div>
					<div>
						<button class="btn btn-primary" type="submit">Create
							Agent</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
