<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Case Requests</h3>
        </div>
        <div class="panel-body">
            <table ng-table="tableParams" class="table table-striped table-bordered table-hover" show-filter="true">
                
                <tr ng-repeat="company in insuranceCompanies">
                    <td data-title="''"> <img src="util/company-image/{{company.logoUrl}}" style="width: 60px;"></td>
                    <td data-title="'Insurance Company'" filter="{ name: 'text'}" sortable="'name'">
                        {{company.name}}
                    </td>
                    <td data-title="'Company Type'"> {{company.type}}</td>
                </tr>
                
                    
            </table>
        </div>
    </div>
</div>

            