<div id="qc-check-container" class="row">
	<div class="col-xs-12">
		<div class="col-xs-7">
			<form ng-submit="bulkUploadFiles()">
				<table class='table'>
					<tr>
						<td><input id='bulkUploadFileIdentifier' type="file" multiple
							ng-model="bulkUploadFiles" class="form-control"></td>
						<td><input type="submit" value="Bulk Upload"
							class="btn btn-warning" /></td>
					</tr>
				</table>


			</form>
		</div>
		<div class="col-xs-5">
			<button class="btn btn-primary" ng-click='retagPhotos()'>Retag
				Photos</button>
		</div>


	</div>
	<div class="col-xs-12">
		<div ng-show="getTotalAnswerCount() === caseQuestions.length">
			<table class="table">
				<tr>
					<td><b>Final Recommendation</b></td>
					<td><select ng-model="recommendation" class="form-control">
							<option value="" disabled selected>Please select an
								option</option>
							<option ng-repeat="option in recommendations"
								value="{{option.id}}" ng-selected="recommendation === option.id">{{option.value}}</option>
					</select></td>
					<td><textarea rows="2" cols="20" class="form-control"
							ng-model="remarks" maxLength="100" required="true"
							placeholder="Remarks[max:100 char]"> </textarea></td>
					<td style="width: 1px;"><button class="btn btn-success"
							ng-click='checkQcReport()'>Submit QC Report</button></td>
							<!-- ng-click="submitReport()">Submit QC Report</button></td> -->
				</tr>
			</table>
		</div>
	</div>

	<div class="col-xs-12">
		<form>
			<table class="table table-striped">
				<tr>
					<td>Upload a file:</td>
					<td><select class="form-control" ng-model="uploadFileType"
						style="max-width: 150px;">
							<option value="" active disabled>Select a photo type</option>
							<option ng-repeat="option in photoTypes" value={{option.id}}
								ng-selected="uploadFileType === option.id">
								{{option.name}}</option>
					</select></td>
					<td><input type="file" class="form-contol"
						id="uploadFileIdentifier"></td>
					<td><input type="text" class="form-control"
						ng-model="uploadFileComment" placeholder="Comments" /></td>
					<td style="min-width: 120px;">
						<button class="btn btn-warning" ng-click="replacePhoto()">Replace</button>
						<button class="btn btn-success" ng-show="isUploadMultiple()"
							ng-click="addPhoto()">Add</button>
					</td>
				</tr>
			</table>
		</form>
	</div>


	<!-- <div ng-class="['vehicle-details', 'front', 'left', 'right', 'others'].indexOf(activeGroup) > -1 ? 'col-xs-8' :  'col-xs-12'"> -->
	<div class="col-xs-12">
		<div
			ng-class="['vehicle-details', 'front', 'left', 'right', 'others'].indexOf(activeGroup) > -1 ? 'col-xs-2' :  'col-xs-2'">
			<ul class="vertical-menu">
				<li ng-repeat="group in groups" ng-hide="group.hide"><a
					ng-class="group.id === activeGroup ? 'active' : ''"
					ng-click="changeActive(group.id)"> {{group.value}}
						{{getAnswersCount(group.id)}} </a></li>
			</ul>
		</div>
		<div
			ng-class="['coordinates', 'video', 'details'].indexOf(activeGroup) > -1 ? 'col-xs-10' :  'col-xs-5'">
			<div ng-switch="activeGroup">
				<div ng-switch-when="details">
					<div class="col-xs-6">
						<table class="table table-stripped">
							<tr>
								<th style='white-space: nowrap; width: 1px;'>Company Name</th>
								<td>{{caseDetails.insuranceCompany.id}}</td>
							</tr>
							<tr>
								<th style='white-space: nowrap; width: 1px;'>Agent Name</th>
								<td>{{caseDetails.requestorName}}</td>
							</tr>
							<tr>
								<th style='white-space: nowrap; width: 1px;'>Agent Email</th>
								<td>{{caseDetails.requestorEmail}}</td>
							</tr>
							<tr>
								<th style='white-space: nowrap; width: 1px;'>Agent Phone</th>
								<td>{{caseDetails.requestorPhoneNumber}}</td>
							</tr>
							<tr>
								<th style='white-space: nowrap; width: 1px;'>Customer Phone</th>
								<td>{{caseDetails.customerPhoneNumber}}</td>
							</tr>
							<tr>
								<th style='white-space: nowrap; width: 1px;'>Creation Time</th>
								<td>{{(caseDetails.creationTime) | date:'yyyy-MM-dd
									HH:mm:ss'}}</td>
							</tr>
							<tr>
								<th style='white-space: nowrap; width: 1px;'>Inspection
									Time</th>
								<td>{{(casePhotos.lastCasePhotoUploadTime) |
									date:'yyyy-MM-dd HH:mm:ss'}} <span
									ng-if="caseDetails.ciTimeDiff">[<u><b>{{caseDetails.ciTimeDiff}}</b>
											min since creation time</u>]
								</span>
								</td>
							</tr>
							<!--<tr>
                            <th style='white-space: nowrap; width: 1px;'>Last Photo Upload</th>
                            <td>
                              {{casePhotos.lastCasePhotoUploadTime | date:'yyyy-MM-dd HH:mm:ss'}}
                              <span ng-if="caseDetails.cpTimeDiff">[<u><b>{{caseDetails.cpTimeDiff}}</b> min since creation time</u>]</span>
                            </td>
                          </tr>-->
						</table>
					</div>
					<div class="col-xs-6">
						<a title="Download uploaded zip" class="btn btn-xs btn-success"
							href="util/cases/download-uploaded-photos/{{caseDetails.downloadKey}}"
							target="_blank"><i class="fa fa-download" aria-hidden="true">
								Download uploaded zip</i></a>
					</div>
				</div>

				<div ng-switch-when="vehicle-details">
					<div class="row">
						<!-- <div class="col-md-6">
                    <span class="vehicle-meta-header">Vin Plate Number</span>
                  </div> -->
						<div class="col-md-12">
							<span class="vehicle-meta-header">Vehicle Details</span>
							<div ng-show="!editVehicleData" class="pull-right">
								<button class="btn btn-default"
									ng-click="editVehicleDataEnable()">Edit</button>
							</div>
							<div ng-show="editVehicleData" class="pull-right">
								<button class="btn btn-default"
									ng-click="editVehicleDataEnable()">Close</button>
							</div>
						</div>
						<!-- <div class="col-md-6">
                    <span class="vehicle-meta-header">RC</span>
                  </div> -->
					</div>
					<div class="row">
						<!-- <div class="col-md-6">
                    <img ng-src="{{vehicleVinPhoto}}" />
                  </div> -->
						<div class="col-md-12">
							<table ng-show="!editVehicleData" class="table table-stripped">
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Number</th>
									<td>{{caseDetails.vehicleNumber}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>No of Inspections</th>
									<td>{{(caseDetails.count)}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>YOM</th>
									<td>{{(caseDetails.vehicleYOM)}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Chassis
										Number</th>
									<td>{{caseDetails.chassisNumber}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Engine Number</th>
									<td>{{caseDetails.engineNumber}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Odometer
										reading</th>
									<td>{{caseDetails.odometerReading}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Type</th>
									<td>{{caseDetails.vehicle.vehicleType.name}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Make</th>
									<td>{{caseDetails.vehicle.make}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Model</th>
									<td>{{caseDetails.vehicle.model}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Color</th>
									<td>{{caseDetails.vehicleColor}}</td>
								</tr>
								<tr>
									<th style='white-space: nowrap; width: 1px;'>Fuel Type</th>
									<td>{{caseDetails.vehicleFuelType.name}}</td>
								</tr>
								<tr>
									<td>Customer name:</td>

									<td><input type='text' class='form-control'
										ng-model='$parent.newCustName' /></td>
								</tr>
								<tr>
									<td colspan='2'>
										<button class='btn btn-warning'
											ng-click='updateCustomerName()'>Update</button>
									</td>
								</tr>
							</table>
							<form ng-show="editVehicleData"
								ng-submit="submitNewVehicleData()" ng-init="newVehicleData">
								<table class="table table-stripped">
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Vehicle
											Number</th>
										<td><input type="text"
											ng-disabled="!vehicleNumberEditEnable"
											class="form-control pull-left" style="width: 190px"
											ng-value="caseDetails.vehicleNumber"
											ng-model="newVehicleData.vehicle_number" capitalize
											no-spaces="newVehicleData.vehicle_number"
											ng-change="enableVerify()" />
											<button type="button" ng-if="!vehicleNumberEditEnable && caseDetails.caseType !== 'ONLINE'"
												class="btn btn-default btn-sm pull-right"
												ng-click="enableVehicleNumberEdit()">Edit</button>
											<button type="button" ng-if="vehicleNumberEditEnable"
												ng-disabled="vehicleNumberVerifyDisabled"
												class="btn btn-default btn-sm pull-right"
												ng-click="vahanVerify()">Verify</button></td>
									</tr>
									<tr ng-show="!vehicleNumberVerifyDisabled && !vahanVerified">
										<th>Vahan Verified:</th>
										<td>
											<table class="table table-condensed">
												<tr>
													<td>YOM: {{vahanData.year}}</td>
												</tr>
												<tr>
													<td>Chassis no.: {{vahanData.chasisNumber}}</td>
												</tr>
												<tr>
													<td>Engine no.: {{vahanData.engineNumber}}</td>
												</tr>
												<tr>
													<td>Fuel Type: {{vahanData.vehicleFuelType}}</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>YOM</th>
										<td><input type="text" ng-disabled="vahanYOM"
											class="form-control" ng-value="caseDetails.vehicleYOM"
											ng-model="newVehicleData.yom" /></td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Chassis
											Number</th>
										<td><input type="text" ng-disabled="vahanChasisNumber"
											class="form-control" ng-value="vehicleChachis"
											ng-model="newVehicleData.chachis_number" /></td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Engine
											Number</th>
										<td><input type="text" ng-disabled="vahanVinPlateNumber"
											class="form-control" ng-value="vehicleVin"
											ng-model="newVehicleData.vin_plate_number" />
											<span ng-show="!newVehicleData.vin_plate_number.length">Please enter engine
											number</span>
											</td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Odometer
											Reading</th>
										<td><input type="number" class="form-control"
											ng-value="odometerReading"
											ng-model="newVehicleData.odometer_reading" ng-required="true" /></td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Type</th>
										<td><select class="form-control"
											ng-model="newVehicleData.type" ng-required="true"
											ng-change="unsetMakeModels()">
												<option ng-repeat="item in vehicleTypes" value="{{item.id}}">{{item.name}}</option>
										</select> <!-- <input type="text" class="form-control" ng-value="caseDetails.vehicle.vehicleType.name" ng-model="newVehicleData.type" /> -->
										</td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Make</th>
										<td><select class="form-control"
											ng-change="setSelectedMakeModels()"
											ng-model="newVehicleData.make" ng-required="true">
												<option
													ng-repeat="item in vehicleMakeModelsUniq track by $index | orderBy:'make'"
													value="{{item.make}}" ng-show="checkType(item, $index)">{{item.make}}</option>
										</select> <!-- <input type="text" class="form-control" ng-value="caseDetails.vehicle.make" ng-model="newVehicleData.make" /> -->
										</td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Model</th>
										<td><select class="form-control"
											ng-model="newVehicleData.makeModel" ng-required="true">
												<option
													ng-repeat="item in vehicleMakeSelectedModels | orderBy:'model'"
													value="{{item.id}}">{{item.model}}</option>
										</select> <!-- <input type="text" class="form-control" ng-value="caseDetails.vehicle.model" ng-model="newVehicleData.model" /> -->
										</td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Fuel Type</th>
										<td><select class="form-control"
											ng-model="newVehicleData.vehicle_fuel_type"
											ng-required="true">
												<option ng-repeat="item in vehicleFuelTypes"
													value="{{item.id}}">{{item.name}}</option>
										</select> <!-- <input type="text" class="form-control" ng-value="caseDetails.vehicleFuelType.name" ng-model="newVehicleData.vehicle_fuel_type" /> -->
										</td>
									</tr>
									<tr>
										<th style='white-space: nowrap; width: 1px;'>Color</th>
										<td><input type="text" class="form-control"
											ng-value="caseDetails.vehicleColor"
											ng-model="newVehicleData.color" /></td>
									</tr>
									<tr>
										<td colspan="2">
											<button type="submit" ng-disabled="false"
												title="{{verifyVahanMessage}}"
												class="btn btn-primary pull-right">Submit</button>
										</td>
									</tr>
								</table>
							</form>
						</div>
						<!-- <div class="col-md-6">
                    <img  ng-src="{{vehicleChachisPhoto}}" />
                  </div> -->
					</div>
				</div>
				<div ng-switch-when="coordinates" ng-cloak>
					<div id="chartContainer" case-photos="casePhotos" case-id="caseId"
						coordinates-map></div>
				</div>
				<div ng-switch-when="video">
<!--					<div class="progress progress-video" ng-if="caseVideoRequest"
						style="width: 100%">
						<div class="progress-bar progress-bar-striped active"
							role="progressbar" aria-valuenow="100" aria-valuemin="0"
							aria-valuemax="100" style="width: 100%;">Downloading.
							Please wait!...</div>
					</div>
					<div ng-if="!caseVideoRequest">
						<div id="qc-video-container">
							<video width="800" controls>
								<source ng-if="!caseVideoRequest" src="{{caseVideo | trustUrl}}"
									type="video/mp4">
								Your browser does not support HTML5 video.
							</video>
						</div>
					</div>-->

                                    <div ng-repeat="item in inspectionVideos">
                                        <a class="btn btn-primary" target="_blank" href="#/preview-video/{{item.key}}">
                                            View Video {{$index + 1}}
                                        </a>
                                    </div>
				</div>
				<div ng-switch-default>
					<table class="table">
						<tr ng-repeat="question in caseQuestions"
							ng-show="ifTagInActiveGroup(question.photoTag, activeGroup)">
							<td>
								<h5>
									<b>{{question.value}}</b>
								</h5>
							</td>
							<td><select ng-model="question.answer" class="form-control">
									<option value="" disabled selected>Please select an
										option</option>
									<option ng-show="option.group === question.group"
										ng-repeat="option in caseOptions" value={{option.id}}
										ng-selected="question.answer === option.id">{{option.value}}</option>
							</select></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-xs-5" style="overflow: auto; height: 630px;">
			<!-- <span ng-repeat="photo in casePhotos" ng-show="casePhotos">
            <img
              style="margin: 10px;"
              ng-src="util/case-image/{{caseId}}/{{photo.fileName}}"
              alt="gallery thumbnail"
              width="300"
              style="max-height: 150px; width: 150px;"
              class="preview"
              ng-show="checkInActiveGroup($index)"
              ng-click="showZoomedImage($index)"
            />
          </span> -->
			<!-- <span ng-repeat="photo in casePhotos" ng-show="casePhotos">
            <img ng-elevate-zoom
             ng-src="{{photo.zoom}}"
             zoom-image="{{photo.zoom}}" />
          </span> -->

			<span ng-repeat="photo in casePhotos track by $index"
				ng-show="casePhotos">
				<div class="case-photo-container "
					ng-show="checkInActiveGroup($index)">
					<md-card>
					<div class="case-photo-title">
						<!-- <md-card-title-text> -->
						<span class="md-headline">{{photo.photoType | uppercase}}</span> <span
							class="md-subhead"
							ng-show="['vehicle-details'].indexOf(activeGroup)>-1?true:false">{{photo.answer
							| uppercase}}</span> <span style="float: right"><button
								ng-click="deletePhoto(photo)" class="btn btn-xs btn-danger"
								title="Delete">X</button></span>
					</div>
					<!-- </md-card-title-text> --> <!-- <md-card-title-media class="case-photo-loader"> -->
					<div class="case-photo-loader ">
						<img id="{{'case-photo-'+$index}}" src="{{photo.zoom}}"
							data-zoom-image="{{photo.zoom}}"
							ng-mouseover="zoomIn('case-photo-'+$index)"
							ng-mouseleave="zoomOut()" />
					</div>
					<!-- </md-card-title-media> --> </md-card>
				</div> <!-- <div class="case-photo-container case-photo" ng-show="checkInActiveGroup($index)">
              <div class="case-photo-caption">
                <span>{{photo.photoType | uppercase}}</span>
                <span ng-show="['vehicle-details'].indexOf(activeGroup)>-1?true:false">{{photo.answer | uppercase}}</span>
              </div>
              <img
                id="{{'case-photo-'+$index}}"
                src="{{photo.zoom}}"
                data-zoom-image="{{photo.zoom}}"
                ng-mouseover="zoomIn('case-photo-'+$index)"
                ng-mouseleave="zoomOut()"
              />
            </div> -->
			</span>

			<!-- <div class="carousel-inner">
            <div class="item" ng-class="{active: $index === 0}" ng-repeat="photo in casePhotos" ng-show="casePhotos">
              <img id="catImg-{{$index}}" class="img-responsive" ez-zoom ng-src="util/case-image/{{caseId}}/{{photo.fileName}}" alt="{{image.alt}}" title="{{image.alt}}" ez-zoom-config="{'tint':true, 'tintColour':'#F90', 'tintOpacity':0.5}" ez-zoom-image="{{selectedCarouselImage == $index ? photo.zoom : ''}}">
            </div>
          </div> -->
		</div>
	</div>


	<!-- <div class="col-xs-6" style="overflow-x: auto; padding: 10px; margin-bottom: 10px;">
      <ul class="gallery gallery1">
         <li ng-repeat="image in jkc" ng-if="image.groups.indexOf(activeGroup) > -1">
          <a ng-click="openLightboxModal($index)">
             <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
          </a>
         </li>
       </ul>
    </div> -->


	<!-- <div id="qc-check-photos" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Case image</h4>
          </div>
          <div class="modal-body" style="padding: 0px;">
          </div>
        </div>
      </div>
    </div> -->

	<div id="qc-check-retag" class="modal fade" tabindex="-1" role="dialog"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Retag Photos</h4>
				</div>
				<div class="modal-body" style="padding: 0px;"></div>
			</div>
		</div>
	</div>
	
	<div id="qc-recommend-container" class="modal fade" tabindex="-1" role="dialog"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Recommend</h4>
				</div>
				<div class="modal-body" style="padding: 0px;"></div>
			</div>
		</div>
	</div>
	<div id="qc-hold-container" class="modal fade" tabindex="-1" role="dialog"
		style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">Hold</h4>
				</div>
				<div class="modal-body" style="padding: 0px;"></div>
			</div>
		</div>
	</div>
</div>
