<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title">Cases pending for QC review</h3>
			<div flex="" layout="row" layout-align="center center"
				class="layout-align-end-center layout-row flex">
				<p style="margin: 0px !important">Initiate system call:</p>
				<md-radio-group ng-model="data.value" layout="row"
					ng-change="radioChanged(data.value)"> <md-radio-button
					value="start" class="md-primary">Start</md-radio-button> <md-radio-button
					value="stop"> Stop </md-radio-button> </md-radio-group>
			</div>
		</div>
		<!-- <div class="panel-body"> -->
		<div class="">
			<div class="row">
				<div class="col-md-4">
					<div ng-cloak
						style="padding-left: 15px; padding-top: 15px; padding-bottom: 5px;">
						<md-input-container class="md-block"> <label>Search
							Cases</label> <input ng-model="filter.case"> </md-input-container>
					</div>
				</div>
			</div>
			<table ng-table="allQCData"
				ng-if="userProfile.authority.authority === 'ROLE_QC' && (userProfile.username==='quality_4@wimwisure.com'||userProfile.username==='quality_5@wimwisure.com'||userProfile.username==='quality_6@wimwisure.com')"
				class="table table-striped table-bordered table-hover qc-review-table">
				<tr
					ng-repeat="qcCase in qcCases | orderBy:'flagStatus':false | filter: filter.case | filter: {vehicleType:'2-wheeler'}">

					<td data-title="'#'">{{$index + 1}}</td>
					<td data-title="'Case Id'">{{qcCase.id}}</td>
					<td data-title="'Company'" style="width: 50px"><img
						ng-src="util/company-image/{{qcCase.logoUrl}}" /></td>
					<td data-title="'Vehicle Number'"><a
						href="#/qc-check/{{qcCase.id}}"> <span ng-show="false">{{qcCase.vehicleType}}</span>
							<i class="fa fa-motorcycle" aria-hidden="true"
							ng-show="qcCase.vehicleType==='2-wheeler'"></i> <i
							class="fa fa-car" aria-hidden="true"
							ng-show="qcCase.vehicleType==='4-wheeler'"></i> <i
							class="fa fa-truck" aria-hidden="true"
							ng-show="qcCase.vehicleType==='commercial'"></i>
							{{qcCase.vehicleNumber}}
					</a></td>
					<td data-title="'Agent Contact'"><a
						href="tel:{{qcCase.customerPhoneNumber}}">
						<!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
							{{qcCase.requestorPhoneNumber}}</a></td>
					<td data-title="'Branch'">{{qcCase.branch}}</td>
					<!-- <td data-title="'Creation Date & Time'">{{qcCase.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}</a></td> -->
					<td data-title="'Completion Date & Time'"
						class="{{qcCase.flagStatus}}">{{qcCase.inspectionSubmitTime |
						date:'yyyy-MM-dd HH:mm'}}</td>
					<td data-title="'File available time'">{{qcCase.fileAvailableTime
						| date:'yyyy-MM-dd HH:mm'}}</td>

					<td data-title="'Inspection Type'">
						{{qcCase.inspectionTypeDisplay}}</td>
					<td data-title="'Purpose'">{{
						getPurposeOfInspection(qcCase.purposeOfInspection).name }}</td>
					<td data-title="'Status'">
						<div style="text-align: center;">
							<i title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='recommended'"
								class="glyphicon glyphicon glyphicon-ok-sign set-green"></i> <i
								title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='not-recommended'"
								class="glyphicon glyphicon glyphicon-remove-sign set-red"></i> <i
								title="{{qcCase.comment}}" ng-if="qcCase.remark=='hold'"
								class="glyphicon glyphicon glyphicon-minus-sign set-yellow"></i>
							<i title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='underwriter'"
								class="glyphicon glyphicon glyphicon-info-sign set-orange"></i>
							<span title="{{qcCase.comment}}" ng-if="qcCase.remark==null">n/a</span>
						</div>
					</td>
					<td data-title="'Comments'" ng-click="showComments(qcCase)">
						{{qcCase.countComments}}</td>
					<td data-title="'Whats App'"
						ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2FMadam%2C%0A%0AYour%20inspection%20request%20for%20vehicle%3A%20';messageCust='&text=Dear%20Sir%2FMadam%2C%0A%0AYour%20inspection%20request%20for%20vehicle%3A%20';terminalCust='%20is%20completed%20and%20submitted%20to%20the%20insurance%20company.%0A%0AThank%20you%20for%20using%20WIMWIsure.%0A%0APlease%20rate%20us%205%2A%20on%20Playstore%3A%20bit.ly%2FIFFCOcust';is='%20is%20'; terminalAgent='.%20%0A%0AThe%20report%20is%20sent%20to%20your%20mail%20and%20can%20be%20downloaded%20from%20Case%20History%20Tab%20on%20mobile%20APP.%0A%0AThank%20you%20for%20using%20WIMWIsure.%0A%0APlease%20rate%20us%205%2A%20on%20Playstore%3A%20http%3A%2F%2Fbit.ly%2FIFFCO';messageHold='&text=Dear%20Sir%2FMadam%0A%0AYour%20inspection%20for%20vehicle%20';terminalHold='%20is%20on%20Hold%20due%20to%20incomplete%20photos.%0A%0APlease%20call%207290049100%20urgently%20to%20finish%20the%20inspection.';
						">
						<a
						ng-show="{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER' && qcCase.remark=='hold'}}"
						ng-href="{{link+qcCase.customerPhoneNumber+messageHold+qcCase.vehicleNumber+terminalHold}}"
						target="_blank">Message</a> <a
						ng-show="{{qcCase.inspectionType=='SELF_INSPECT' && qcCase.remark=='hold'}}"
						ng-href="{{link+qcCase.requestorPhoneNumber+messageHold+qcCase.vehicleNumber+terminalHold}}"
						target="_blank">Message</a>
					</td>
					<td data-title="'Actions'" style="min-width: 90px;">
						<button title='Reopen Case for Inspection'
							class="btn btn-xs btn-warning" ng-click="reopenCase(qcCase)">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</button> <a title="Download uploaded zip" class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-photos/{{qcCase.downloadKey}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<a title="Download uploaded folder" class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-folder/{{qcCase.id}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<a title="Retry to upload zip file" class="btn btn-xs btn-info"
						href="jadu-test/do-qc?case_id={{qcCase.id}}" target="_blank"><i
							class="fa fa-cloud-upload" aria-hidden="true"></i></a>
					</td>

				</tr>
			</table>
			<table ng-table="allQCData"
				ng-if="userProfile.authority.authority === 'ROLE_QC' && (userProfile.username==='quality_7@wimwisure.com'||userProfile.username==='quality_8@wimwisure.com'||userProfile.username==='quality_9@wimwisure.com'||userProfile.username==='quality_10@wimwisure.com')"
				class="table table-striped table-bordered table-hover qc-review-table">
				<tr
					ng-repeat="qcCase in qcCases | orderBy:'flagStatus':false | filter: filter.case | filter: {vehicleType:'!2-wheeler'}">

					<td data-title="'#'">{{$index + 1}}</td>
					<td data-title="'Case Id'">{{qcCase.id}}</td>
					<td data-title="'Company'" style="width: 50px"><img
						ng-src="util/company-image/{{qcCase.logoUrl}}" /></td>
					<td data-title="'Vehicle Number'"><a
						href="#/qc-check/{{qcCase.id}}"> <span ng-show="false">{{qcCase.vehicleType}}</span>
							<i class="fa fa-motorcycle" aria-hidden="true"
							ng-show="qcCase.vehicleType==='2-wheeler'"></i> <i
							class="fa fa-car" aria-hidden="true"
							ng-show="qcCase.vehicleType==='4-wheeler'"></i> <i
							class="fa fa-truck" aria-hidden="true"
							ng-show="qcCase.vehicleType==='commercial'"></i>
							{{qcCase.vehicleNumber}}
					</a></td>
					<td data-title="'Agent Contact'"><a
						href="tel:{{qcCase.customerPhoneNumber}}">
						<!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
							{{qcCase.requestorPhoneNumber}}</a></td>
					<td data-title="'Branch'">{{qcCase.branch}}</td>
					<!-- <td data-title="'Creation Date & Time'">{{qcCase.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}</a></td> -->
					<td data-title="'Completion Date & Time'"
						class="{{qcCase.flagStatus}}">{{qcCase.inspectionSubmitTime |
						date:'yyyy-MM-dd HH:mm'}}</td>
					<td data-title="'File available time'">{{qcCase.fileAvailableTime
						| date:'yyyy-MM-dd HH:mm'}}</td>

					<td data-title="'Inspection Type'">
						{{qcCase.inspectionTypeDisplay}}</td>
					<td data-title="'Purpose'">{{
						getPurposeOfInspection(qcCase.purposeOfInspection).name }}</td>
					<td data-title="'Status'">
						<div style="text-align: center;">
							<i title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='recommended'"
								class="glyphicon glyphicon glyphicon-ok-sign set-green"></i> <i
								title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='not-recommended'"
								class="glyphicon glyphicon glyphicon-remove-sign set-red"></i> <i
								title="{{qcCase.comment}}" ng-if="qcCase.remark=='hold'"
								class="glyphicon glyphicon glyphicon-minus-sign set-yellow"></i>
							<i title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='underwriter'"
								class="glyphicon glyphicon glyphicon-info-sign set-orange"></i>
							<span title="{{qcCase.comment}}" ng-if="qcCase.remark==null">n/a</span>
						</div>
					</td>
					<td data-title="'Comments'" ng-click="showComments(qcCase)">
						{{qcCase.countComments}}</td>
					<td data-title="'Whats App'"
						ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2FMadam%2C%0A%0AYour%20inspection%20request%20for%20vehicle%3A%20';messageCust='&text=Dear%20Sir%2FMadam%2C%0A%0AYour%20inspection%20request%20for%20vehicle%3A%20';terminalCust='%20is%20completed%20and%20submitted%20to%20the%20insurance%20company.%0A%0AThank%20you%20for%20using%20WIMWIsure.%0A%0APlease%20rate%20us%205%2A%20on%20Playstore%3A%20bit.ly%2FIFFCOcust';is='%20is%20'; terminalAgent='.%20%0A%0AThe%20report%20is%20sent%20to%20your%20mail%20and%20can%20be%20downloaded%20from%20Case%20History%20Tab%20on%20mobile%20APP.%0A%0AThank%20you%20for%20using%20WIMWIsure.%0A%0APlease%20rate%20us%205%2A%20on%20Playstore%3A%20http%3A%2F%2Fbit.ly%2FIFFCO';messageHold='&text=Dear%20Sir%2FMadam%0A%0AYour%20inspection%20for%20vehicle%20';terminalHold='%20is%20on%20Hold%20due%20to%20incomplete%20photos.%0A%0APlease%20call%207290049100%20urgently%20to%20finish%20the%20inspection.';
						">
						<a
						ng-show="{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER' && qcCase.remark=='hold'}}"
						ng-href="{{link+qcCase.customerPhoneNumber+messageHold+qcCase.vehicleNumber+terminalHold}}"
						target="_blank">Message</a> <a
						ng-show="{{qcCase.inspectionType=='SELF_INSPECT' && qcCase.remark=='hold'}}"
						ng-href="{{link+qcCase.requestorPhoneNumber+messageHold+qcCase.vehicleNumber+terminalHold}}"
						target="_blank">Message</a>
					</td>
					<td data-title="'Actions'" style="min-width: 90px;">
						<button title='Reopen Case for Inspection'
							class="btn btn-xs btn-warning" ng-click="reopenCase(qcCase)">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</button> <a title="Download uploaded zip" class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-photos/{{qcCase.downloadKey}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<a title="Download uploaded folder" class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-folder/{{qcCase.id}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<a title="Retry to upload zip file" class="btn btn-xs btn-info"
						href="jadu-test/do-qc?case_id={{qcCase.id}}" target="_blank"><i
							class="fa fa-cloud-upload" aria-hidden="true"></i></a>
					</td>

				</tr>
			</table>
			<table ng-table="allQCData"
				ng-if="!(userProfile.username=== 'quality_4@wimwisure.com' || userProfile.username==='quality_5@wimwisure.com' 	|| userProfile.username==='quality_6@wimwisure.com'	|| userProfile.username==='quality_7@wimwisure.com'	|| userProfile.username==='quality_8@wimwisure.com' || userProfile.username==='quality_9@wimwisure.com'	|| userProfile.username==='quality_10@wimwisure.com')"
				class="table table-striped table-bordered table-hover qc-review-table">
				<tr
					ng-repeat="qcCase in qcCases | orderBy:'flagStatus':false | filter: filter.case">

					<td data-title="'#'">{{$index + 1}}</td>
					<td data-title="'Case Id'">{{qcCase.id}}</td>
					<td data-title="'Company'" style="width: 50px"><img
						ng-src="util/company-image/{{qcCase.logoUrl}}" /></td>
<<<<<<< HEAD
					<td data-title="'Vehicle Number'"><a
=======
					<td data-title="'Vehicle Number'">
                                            <a ng-show="userProfile.authority.authority === 'ROLE_ADMIN' || userProfile.authority.authority === 'ROLE_QC'"
>>>>>>> 8288f974b4db0c02f5ad73fbd52efd6863d0e3eb
						href="#/qc-check/{{qcCase.id}}"> <span ng-show="false">{{qcCase.vehicleType}}</span>
							<i class="fa fa-motorcycle" aria-hidden="true"
							ng-show="qcCase.vehicleType==='2-wheeler'"></i> <i
							class="fa fa-car" aria-hidden="true"
							ng-show="qcCase.vehicleType==='4-wheeler'"></i> <i
							class="fa fa-truck" aria-hidden="true"
							ng-show="qcCase.vehicleType==='commercial'"></i>
							{{qcCase.vehicleNumber}}
<<<<<<< HEAD
					</a></td>
=======
                                            </a>
                                            <a ng-show="userProfile.authority.authority === 'ROLE_COMPANY_USER'"
						href="#/qc"> <span ng-show="false">{{qcCase.vehicleType}}</span>
							<i class="fa fa-motorcycle" aria-hidden="true"
							ng-show="qcCase.vehicleType==='2-wheeler'"></i> <i
							class="fa fa-car" aria-hidden="true"
							ng-show="qcCase.vehicleType==='4-wheeler'"></i> <i
							class="fa fa-truck" aria-hidden="true"
							ng-show="qcCase.vehicleType==='commercial'"></i>
							{{qcCase.vehicleNumber}}
                                            </a>
                                        
                                        </td>
>>>>>>> 8288f974b4db0c02f5ad73fbd52efd6863d0e3eb
					<td data-title="'Agent Contact'"><a
						href="tel:{{qcCase.customerPhoneNumber}}">
						<!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
							{{qcCase.requestorPhoneNumber}}</a></td>
					<td data-title="'Branch'">{{qcCase.branch}}</td>
					<!-- <td data-title="'Creation Date & Time'">{{qcCase.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}</a></td> -->
					<td data-title="'Completion Date & Time'"
						class="{{qcCase.flagStatus}}">{{qcCase.inspectionSubmitTime |
						date:'yyyy-MM-dd HH:mm'}}</td>
					<td data-title="'File available time'">{{qcCase.fileAvailableTime
						| date:'yyyy-MM-dd HH:mm'}}</td>

					<td data-title="'Inspection Type'">
						{{qcCase.inspectionTypeDisplay}}</td>
					<td data-title="'Purpose'">{{
						getPurposeOfInspection(qcCase.purposeOfInspection).name }}</td>
					<td data-title="'Status'">
						<div style="text-align: center;">
							<i title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='recommended'"
								class="glyphicon glyphicon glyphicon-ok-sign set-green"></i> <i
								title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='not-recommended'"
								class="glyphicon glyphicon glyphicon-remove-sign set-red"></i> <i
								title="{{qcCase.comment}}" ng-if="qcCase.remark=='hold'"
								class="glyphicon glyphicon glyphicon-minus-sign set-yellow"></i>
							<i title="{{qcCase.comment}}"
								ng-if="qcCase.remark=='underwriter'"
								class="glyphicon glyphicon glyphicon-info-sign set-orange"></i>
							<span title="{{qcCase.comment}}" ng-if="qcCase.remark==null">n/a</span>
						</div>
					</td>
					<td data-title="'Comments'" ng-click="showComments(qcCase)">
						{{qcCase.countComments}}</td>
					<td data-title="'Whats App'"
						ng-init="link = 'https://api.whatsapp.com/send?phone=91';message='&text=Dear%20Sir%2FMadam%2C%0A%0AYour%20inspection%20request%20for%20vehicle%3A%20';messageCust='&text=Dear%20Sir%2FMadam%2C%0A%0AYour%20inspection%20request%20for%20vehicle%3A%20';terminalCust='%20is%20completed%20and%20submitted%20to%20the%20insurance%20company.%0A%0AThank%20you%20for%20using%20WIMWIsure.%0A%0APlease%20rate%20us%205%2A%20on%20Playstore%3A%20bit.ly%2FIFFCOcust';is='%20is%20'; terminalAgent='.%20%0A%0AThe%20report%20is%20sent%20to%20your%20mail%20and%20can%20be%20downloaded%20from%20Case%20History%20Tab%20on%20mobile%20APP.%0A%0AThank%20you%20for%20using%20WIMWIsure.%0A%0APlease%20rate%20us%205%2A%20on%20Playstore%3A%20http%3A%2F%2Fbit.ly%2FIFFCO';messageHold='&text=Dear%20Sir%2FMadam%0A%0AYour%20inspection%20for%20vehicle%20';terminalHold='%20is%20on%20Hold%20due%20to%20incomplete%20photos.%0A%0APlease%20call%207290049100%20urgently%20to%20finish%20the%20inspection.';
						">
						<a
						ng-show="{{qcCase.inspectionType=='ASSIGN_TO_CUSTOMER' && qcCase.remark=='hold'}}"
						ng-href="{{link+qcCase.customerPhoneNumber+messageHold+qcCase.vehicleNumber+terminalHold}}"
						target="_blank">Message</a> <a
						ng-show="{{qcCase.inspectionType=='SELF_INSPECT' && qcCase.remark=='hold'}}"
						ng-href="{{link+qcCase.requestorPhoneNumber+messageHold+qcCase.vehicleNumber+terminalHold}}"
						target="_blank">Message</a>
					</td>
					<td data-title="'Actions'" style="min-width: 90px;">
						<button title='Reopen Case for Inspection'
							class="btn btn-xs btn-warning" ng-click="reopenCase(qcCase)">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</button> <a title="Download uploaded zip" class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-photos/{{qcCase.downloadKey}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<a title="Download uploaded folder" class="btn btn-xs btn-success"
						href="util/cases/download-uploaded-folder/{{qcCase.id}}"
						target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						<a title="Retry to upload zip file" class="btn btn-xs btn-info"
						href="jadu-test/do-qc?case_id={{qcCase.id}}" target="_blank"><i
							class="fa fa-cloud-upload" aria-hidden="true"></i></a>
					</td>

				</tr>
			</table>
		</div>
	</div>
</div>


<div id="reopen-case-container" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Reopen Case for Inspection</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>

<div id="manual-qc-container3" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Comments</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>
<div id="initiate-system-call-qc" class="modal fade" tabindex="-1"
	role="dialog" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
				<h4 class="modal-title">Start initiating system call</h4>
			</div>
			<div class="modal-body" style="padding: 20px;"></div>
		</div>
	</div>
</div>
