<table class="table table-condensed" style="width: 100%">
  <tr>
    <th>Case ID</th>
    <th>{{currentCaseId}}</th>
  </tr>
  <tr>
    <td>Customer Phone Number:</td>
    <td>
      <input class="form-control pull-left"
        ng-cloak
        ng-model="newCaseData.newCustomerPhoneNumber"
        style="width:250px"
        ng-value="newCaseData.newCustomerPhoneNumber"
      >
    </td>
  </tr>
  <tr>
    <td>Agent Phone Number:</td>
    <td>
      <input class="form-control pull-left"
        ng-cloak
        ng-model="newCaseData.newRequestorPhoneNumber"
        style="width:250px"
        ng-value="newCaseData.newRequestorPhoneNumber"
      >
    </td>
  </tr>
  <tr>
    <td>Vehicle Number:</td>
    <td>
      <input class="form-control pull-left"
        ng-cloak
        ng-model="newCaseData.newVehicleNumber"
        style="width:250px"
        ng-value="newCaseData.newVehicleNumber"
      >
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button ng-cloak ng-click="updateCaseDetails()" class="btn btn-primary pull-right" >Update Case Details</button>
    </td>
  </tr>
</table>
