<div>
	<div flex="" layout="row" layout-align="start start"
		class="layout-align-start-center layout-row flex">
		<p style="margin: 0px !important">Initiate system call:
			&nbsp;&nbsp;</p>
		<!-- <md-radio-group ng-model="data.value" layout="row"> <md-radio-button
			value="self" class="md-primary">self</md-radio-button> <md-radio-button
			value="assign"> Assign to customer </md-radio-button> </md-radio-group> -->
	</div>
	<br>
	<form ng-submit="initiatecall()">
		<input class="form-control" ng-model="startDate"
			ng-change="StartDate()" md-max-date="maxDateStart"
			ng-model-options="{ updateOn: 'blur' }"
			placeholder="Select a date..." moment-picker="startDate"> 
			
			
			<input
			class="form-control" ng-model="endDate" md-min-date="minDateEnd"
			md-max-date="maxDateEnd" ng-model-options="{ updateOn: 'blur' }"
			placeholder="Select a date..." moment-picker="endDate">
		<!-- <md-datepicker ng-model="startDate" ng-change="StartDate()" md-max-date="maxDateStart" md-placeholder="Select from date">
                </md-datepicker>
                 <md-datepicker ng-model="endDate" md-min-date="minDateEnd" md-max-date="maxDateEnd" md-placeholder="Select to date">
                </md-datepicker> -->
		<table class="table">
			<tr>
				<td><button class="btn btn-primary" type="submit">Start</button></td>
			</tr>
		</table>
	</form>
</div>