﻿<!DOCTYPE html>
<html lang="en" ng-app="jaduApp" ng-cloak>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<header name = "Access-Control-Allow-Origin" value = "*" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
<title>Public BlockChain</title>
<!-- Site favicon -->
<link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
<!-- /site favicon -->

<!-- Entypo font stylesheet -->
<link href="css/entypo.css" rel="stylesheet">
<!-- /entypo font stylesheet -->

<!-- Font awesome stylesheet -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<!-- /font awesome stylesheet -->

<!-- CSS3 Animate It Plugin Stylesheet -->
<link href="css/plugins/css3-animate-it-plugin/animations.css" rel="stylesheet">
<!-- /css3 animate it plugin stylesheet -->

<!-- Bootstrap stylesheet min version -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- /bootstrap stylesheet min version -->

<!-- Mouldifi core stylesheet -->
<link href="css/mouldifi-core.css" rel="stylesheet">
<!-- /mouldifi core stylesheet -->

<link href="css/mouldifi-forms.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->
<script src="js/plugins/angularjs/angular.min.js"></script>
<script src="js/plugins/angularjs/angular-animate.min.js"></script>
        <script src="js/plugins/angularjs/angular-route.min.js"></script>
        <script src="js/plugins/angularjs/angular-cookies.min.js"></script>
        <script src="js/plugins/angularjs/angular-resource.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bc.js"></script>
<script src="js/services.js"></script>
<script src="js/md5.js"></script>
<script src="js/md5-min.js"></script>
<script src="js/services.js"></script>
<script src="js/sha256.min.js"></script>
<style type="text/css">
    .alert-progress{
        display: none;
    }
    
    .alert-error{
        display: none;
    }
</style>
</head>
<body class="login-page col-xs-12" ng-controller='HomeController'>
	<div class="login-pag-inner">
		<div class="animatedParent animateOnce">
			<div class="login-container animated growIn slower">
				<div class="login-content" style="width: 100%;min-height: 800px; margin: auto">
                                    
                                    
                                    
                                    <div class="login-branding" style="padding: 0px;">
                                            <a href="index.html"><img src="images/logo.png" alt="Mouldifi" title="Mouldifi"></a>
                                    </div>
                                    <br/>
                                    
                                    <div class='col-xs-6' style="min-height: 300px;">
                                        <div class="alert alert-success" role="alert">
                                            Total number of blocks: {{result.length}}
                                        </div>
                                        <table class="table table-bordered">
                                            <tr>
                                                <td>
                                                    <input type="number" class="form-control" ng-model="txnid" placeholder='Search for a transaction block'>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary" ng-click="getBlockForTxnId()">Search</button>
                                                </td>
                                            </tr>
                                        </table>


                                        <table class='table table-striped' ng-show='currentBlock'>
                                            <tr>
                                                <th>Block : {{currentBlock.block}}</th>
                                            </tr>
                                            

                                            <tr>
                                                <th>Block Hash</th>
                                                </tr>
                                            <tr>
                                                <td>{{currentBlock.hash}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Transaction time:</b> {{currentBlock.time}}</td>
                                                </tr>
                                            <tr>
                                                <th>Previous Block Hash</th>
                                                </tr>
                                            <tr>
                                                <td>{{currentBlock.prev_hash}}</td>
                                            </tr>
                                            <tr>
                                                <th>Transaction Hash</th>
                                                </tr>
                                            <tr>
                                                <td>{{currentBlock.messages.hash}}</td>
                                            </tr>
                                        </table>

                                        <div ng-show='currentBlock === null'>
                                            No block found!
                                        </div>
                                        
                                    </div>
                                    <div class='col-xs-6'>
                                        
                                        <table class='table table-striped' style="word-wrap:break-word;">
                                            <tr>
                                                <td>
                                                    <input id="fileForUpload" type='file' fileread='myfile' class='form-control' placeholder='Upload file to validate'>
                                                </td>
                                                <td>
                                                    <input type='number' ng-model='mytxnid' class='form-control' placeholder='Transaction ID'/>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary" ng-click="validateFile()">Validate</button>
                                                </td>
                                            </tr>
                                        </table>
                                        
                                        
                                        <table class='table table-striped' ng-show='calculated'>
                                            <tr>
                                                <th>File Checksum</th>
                                            </tr>
                                            <tr>
                                                <td>{{calculated.checksum}}</td>
                                            </tr>
                                            <tr>
                                                <th>Payload Hash</th>
                                                </tr>
                                            <tr>
                                                <td>{{calculated.payload_hash}}</td>
                                            </tr>
                                            <tr>
                                                <th>Transaction Hash</th>
                                                </tr>
                                            <tr>
                                                <td>{{calculated.message_hash}}</td>
                                            </tr>
                                            <tr>
                                                <th>Transaction Hash on Block-chain: </th>
                                                </tr>
                                            <tr>
                                                <td>{{calculated.message_hash_bc}}</td>
                                            </tr>
                                            
                                            <tr>
                                                <th>Match: </th>
                                                </tr>
                                            <tr>
                                                <td>{{calculated.match}}</td>
                                            </tr>
                                        </table>
                                        
                                    </div>
                                        
				</div>
			</div>
		</div>
	</div>
<!--Load JQuery-->

<!-- Load CSS3 Animate It Plugin JS -->
<script src="js/plugins/css3-animate-it-plugin/css3-animate-it.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
