<div>
	<!--<table class="table table-striped">
        <tr ng-repeat="item in comments">
            <td> {{item.comment}}</td>
            <td> {{item.commentTime}}</td>
        </tr>
    </table>-->
	<table ng-table="tableParams"
		class="table table-striped table-bordered table-hover">
		<tr>
			<td data-title="'7 Days'">{{sevenDays}}</td>
			<td data-title="'15 Days'">{{fifteenDays}}</td>
			<td data-title="'30 Days'">{{thirtyDays}}</td>
			<td data-title="'Total'">{{total}}</td>
		</tr>
	</table>

	<table class="table">
		<tr>
			<td><button class="btn btn-primary" ng-click="getComments()">Get
					Cases</button></td>
		</tr>
	</table>
	</form>


	<table ng-table="tableParams"
		class="table table-striped table-bordered table-hover">
		<tr ng-repeat="item in comments">
			<td data-title="'Comment'" style="width: 70%">{{item.comment}}</td>
			<td data-title="'Time'">{{item.commentTime | date:'yyyy-MM-dd
				HH:mm:ss'}}</td>
			<td data-title="'User'">{{item.firstName}} {{item.lastName}}</td>
		</tr>
	</table>

	<form ng-submit="addComments()">
		<table class="table">
			<tr>
				<td><textarea ng-model="comment" class="form-control" rows="3">></textarea></td>
			</tr>
			<tr>
				<td><button class="btn btn-primary" type="submit">Add
						comment</button></td>
			</tr>
		</table>
	</form>

</div>